{% extends 'base.html' %}
{% block title %} about {% endblock %}

{% block content %}

        <h1>About Our To-Do List App</h1>
        <p>
            Welcome to our simple yet effective to-do list application! We've designed this tool to help you stay organized and productive.
        </p>
        <p>
            **Key Features:**
            <ul>
                <li>User Authentication: Securely manage your tasks with user accounts.</li>
                <li>Task Creation and Management: Easily add, edit, and delete tasks.</li>
                <li>Task Prioritization: Set priorities for your tasks to focus on what matters most.</li>
                <li>Task Completion Tracking: Mark tasks as complete to stay on top of your goals.</li>
            </ul>
        </p>
        <p>
            We hope this tool enhances your productivity and helps you achieve your goals.
        </p>

{% endblock %}